# only reserve the source code of the database
# makesure the code reserved can be compiled and run successfully
build/*
lib/*
.vscode/*
src/*
!src/Makefile
!src/pf.h
!src/pf_statistics.cc
!src/pf_pagehandle.cc
!src/pf_manager.cc
!src/pf_internal.h
!src/pf_hashtable.h
!src/pf_hashtable.cc
!src/pf_filehandle.cc
!src/pf_error.cc
!src/pf_buffermgr.h
!src/pf_buffermgr.cc
!src/rm.h
!src/redbase.h
!src/rm_rid.h
!src/rm_rid.cc
!src/rm_record.cc
!src/rm_manager.cc
!src/rm_internal.h
!src/rm_internal.cc
!src/rm_filescan.cc
!src/rm_filehandle.cc
!src/rm_error.cc
!src/ix.h
!src/ix_manager.cc
!src/ix_internal.h
!src/ix_indexscan.cc
!src/ix_indexhandle.cc
!src/ix_error.cc
!src/sm.h
!src/sm_error.cc
!src/sm_manager.cc
!src/redbase.cc
!src/dbcreate.cc
!src/dbdestroy.cc
!src/parser.h
!src/parser.y
!src/Parser.HowTo
!src/scan.l
!src/scanhelp.c
!src/parser_internal.h
!src/nodes.c
!src/interp.c
!src/scan.c
!src/sm_internal.h
!src/util_internal.h
!src/ql.h
!src/ql_manager.cc
!src/ql_internal.h